body {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 170px;
  margin-top: 10px;
}

.header-subtext {
  font-family: "Roboto", sans-serif;
  color: #3b3b3b;
  background-color: #e0e0e0;
  padding: 20px 0px 20px 0px;
  width: 100%;
  text-align: center;
  box-shadow: inset 0px 6px 5px 0px rgba(170, 170, 170, 0.75);
  margin-bottom: 0px;
}
.header-subtext i {
  margin-right: 10px;
}

.nav-text {
  text-align: center;
  line-height: 2;
}
.nav-text h1 {
  font-weight: 800;
}
.nav-text p {
  font-size: large;
}

.nav {
  background-color: #eeeeee;
  padding-bottom: 50px;
  padding-top: 20px;
}
.nav-button {
  display: inline-block;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 20px 15px 20px;
  border: none;
  box-shadow: 0px 2px 4px rgba(145, 145, 145, 0.25);
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  text-decoration: none;
  font-weight: normal;
  font-family: "Roboto" sans-serif;
  margin-top: 20px;
}
.nav-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #9356DC, 30%;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}
.instructions__box {
  border-radius: 20px;
  background-color: #eeeeee;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.5);
}
.instructions__box h4 {
  margin-left: 30px;
}
.instructions h1 {
  margin-left: 7.5%;
}

.aside_button {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.aside_button::before {
  background-color: #9356DC;
  border-radius: 50%;
  content: "1";
  display: block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  z-index: 1;
  color: white;
}
.aside_button::before content {
  margin-top: 5px;
}
.aside_button:hover {
  background-color: #bba4d8;
}
.aside_button h3 {
  margin-left: 50px;
}
.aside_button i {
  margin-right: 20px;
}

.aside_button_2 {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.aside_button_2::before {
  background-color: #9356DC;
  border-radius: 50%;
  content: "2";
  text-align: center;
  display: block;
  line-height: 30px;
  height: 30px;
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  z-index: 1;
  color: white;
}
.aside_button_2::before content {
  margin-top: 5px;
}
.aside_button_2:hover {
  background-color: #bba4d8;
}
.aside_button_2 h3 {
  margin-left: 50px;
}
.aside_button_2 i {
  margin-right: 20px;
}

.aside_button_3 {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.aside_button_3::before {
  background-color: #9356DC;
  border-radius: 50%;
  content: "3";
  text-align: center;
  display: block;
  line-height: 30px;
  height: 30px;
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  z-index: 1;
  color: white;
}
.aside_button_3::before content {
  margin-top: 5px;
}
.aside_button_3:hover {
  background-color: #bba4d8;
}
.aside_button_3 h3 {
  margin-left: 50px;
}
.aside_button_3 i {
  margin-right: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eeeeee;
  padding-bottom: 20px;
}
.restaurants__cards {
  box-shadow: 0 4px 8px 0 rgba(138, 138, 138, 0.5);
  border-radius: 20px;
  height: 50%;
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 0.3;
  position: relative;
  text-decoration: none;
  color: black;
}
.restaurants__cards img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants__cards p, .restaurants__cards h4 {
  padding-left: 20px;
  padding-right: 30px;
}
.restaurants__cards:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}
.restaurants h1 {
  margin-left: 7.5%;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: rgb(2, 138, 81);
  font-size: 0.8rem;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  font-weight: bold;
}

.heart-icon {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.heart-icon:hover {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  text-align: start;
  line-height: 1.5;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin: 10px;
}
.footer_title {
  line-height: 2;
  font-family: "Shrikhand", cursive;
}

/*# sourceMappingURL=style.css.map */
