


		body {
			font-family: 'Roboto', sans-serif;
			color: #555;
			background-color: #fff;
			margin: 0;
			padding: 0;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Shrikhand', cursive;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #9356DC;
			color: #fff;
			padding: 1rem;
			text-align: center;
		}

		header h1 {
			font-size: 2.5rem;
			line-height: 1.2;
			margin-bottom: 0.5rem;
		}

		header nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		header nav li {
			margin: 0 0.5rem;
		}

		header nav a {
			color: #fff;
			text-decoration: none;
			font-size: 1.2rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		main {
			padding: 1rem;
		}

		section {
			margin-bottom: 2rem;
		}

		section h2 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			padding: 1rem;
			background-color: #fff;
			border-radius: 0.5rem;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
		}

		li h3 {
			font-size: 1.2rem;
			margin-bottom: 0.5rem;
		}

		li img {
			max-width: 100%;
			height: auto;
			margin-bottom: 0.5rem;
		}

		li p {
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		li span {
			font-size: 1.2rem;
			font-weight: 700;
			margin-bottom: 0.5rem;
		}

		button {
			background-color: #9356DC;
			color: #fff;
			border: none;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			font-size: 1rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			cursor: pointer;
        }